* {	
	box-sizing: border-box;
	margin:0 auto;
}

body {
    background-image: url("../img/intive.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #3f08a0;
    height: 1050px;
    margin:0 auto;
    width: 100%;
}

.main {
    background-color: #e5e3e3;
    border: outset 1px; 
    display: flex;
    align-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    height: 480px;
    margin:0 auto;
    margin-top: 20px;
    width: 110%;
}

form {	
     margin:0 auto;
     margin-top: 25px;   
     height:450px;
     width: 40%;
}

label {  	
    color: #007bcd;
    display: inline-block;
    font-size: medium;	
    font-weight: bold;
    text-align: left;
    height: 20px;
    margin:15px;		
    width: 60px;
}

::-webkit-input-placeholder { color: #007bcd; } 

input , select {
    border: solid 1px #007bcd;
    color: #007bcd;			
    font-size: medium;
    font-family: "verdana";
    height: 30px;	
    margin-top: 10px;
    margin-left: 12px;
    text-align: left;
    width: 60%;	
}		

button {			
    display: flex;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 35px;
    color: #007bcd;
    border-color: #007bcd;
    float: left;
    font-size: small;
    margin:12px;
    margin-top: 30px;
    width: 37%;	
}		

footer {            
    position: absolute;
    bottom: 345px;
    right: 400px;
    font-size: medium;
}   

h2 {            
    display: flex;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    height: 35px;
    color: #007bcd;
    font-size: medium;
}       
