* {	
	box-sizing: border-box;
	margin:0 auto;
}

body {
    width: 50%;
    height: 380px;
    margin: 0 auto;
}

.Hello {
    margin: 0 auto;
    margin-left: 15px;
    border: outset 1px; 
    width: 20%; 
    height: 55px;
    background-color: #dbeac9;
    position: absolute;
    bottom: 400px;
    right: 980px;

}

p {
    font-size: small;
    font-family: "verdana";
    text-align: left;
    margin: 5px;
    padding: 2px;
}