* {	
	box-sizing: border-box;
	margin:0 auto;
	padding:0;	
}

body {
    width: 100%;
    height: 380px;
    margin: 0 auto;
    display: flex;
}

.mainList {
    height:400px;
    width: 44%;
    margin: 0 auto;
}

.mainList table {
    border: solid 2px #007bcd; 
    display:block;
    height:400px;
	width: 100%;
    font-size: medium;
	margin-top: 35px;	
}

.mainList th {
    padding: 8px;		
    width: 30%;
    margin: 0 auto;
}

th {
    font-weight: bold;
    font-size: medium;
    text-align: justify-all;
    letter-spacing: 2px;
}